@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  font-weight: 100 900;
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
}

main {
  overflow: hidden;
}

nav {
  position: fixed;
  max-height: 75px;
  top: 0;
  width: 100%;
  background-color: var(--White);
  display: flex;
  align-items: center;
  padding: 20px 8%;
  z-index: 999;
}

.logo {
  width: 100px;
}

nav ul {
  flex: 1;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  transition: background 0.3s;
}

nav ul li a {
  color: var(--Dark-Blue);
}

nav ul li::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -26px;
  left: 0;
  position: absolute;
  background: var(--Lime-Green);
  display: none;
}

nav ul li.activeLink::after {
  display: block;
}

.invite-btn {
  padding: 10px 27px;
  border: 0;
  outline: 0;
  background: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  color: var(--White);
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.5s;
}

.invite-btn:hover {
  background: var(--Lime-Green);
}

.hero {
  background-image: url("./images/bg-intro-desktop.svg");
  background-size: cover;
  background-position: 550px -300px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background-color: var(--White);
  margin-top: 70px;
  padding-left: 8%;
  /* position: relative; */
  /* overflow: hidden; */
}

.col2 {
  position: relative;
  z-index: 1;
}

.mockups-img {
  position: absolute;
  top: -120px;
  right: -130px;
  z-index: 1;
  width: 120%;
}

.services {
  background: var(--Light-Grayish-Blue);
  padding: 8%;
}

.invite-btn:hover {
  color: var(--Very-Light-Gray);
}

.displayText {
  margin-top: 200px;
  max-width: 300px;
  font-size: 35px;
  text-align: left;
  font-weight: 400;
}

.display-info {
  margin: 20px 0;
  max-width: 450px;
  line-height: 26px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.row-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 20px; */
}

.sub-title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 30px;
}

.service1 img {
  width: 35px;
  margin-bottom: 20px;
}

.service-page {
  font-weight: 500;
  margin-bottom: 22px;
  color: var(--Dark-Blue);
}

.service-msg {
  /* font-size: 14px; */
  color: var(--Grayish-Blue);
  line-height: 18px;
  max-width: 298px;
}

.service-text {
  font-size: 14px;
  max-width: 500px;
  margin-bottom: 35px;
}

article {
  padding: 5% 8%;
  background-color: var(--Very-Light-Gray);
}

.article {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  gap: 20px;
}

.article img {
  width: 320px;
}

.article img:first-child {
  height: 300px;
  object-fit: cover;
}
.small-title {
  font-size: 12px;
  color: var(--Grayish-Blue);
}

.headline-msg {
  max-width: 230px;
  font-weight: 500;
  margin: 15px 0;
  color: var(--Dark-Blue);
  cursor: pointer;
}

.headline-msg:hover {
  color: var(--Lime-Green);
}

.text-msg {
  font-size: 16px;
  max-width: 265px;
  line-height: 20px;
}

.article-frame {
  padding: 20px;
  background-color: var(--White);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--Dark-Blue);
  padding: 2% 8%;
}

.left-footer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.right-footer {
  text-align: right;
}

.right-footer small {
  display: block;
  margin-top: 20px;
  color: var(--Grayish-Blue);
}

footer ul li {
  margin-bottom: 10px;
  list-style: none;
}

footer ul li a {
  color: var(--Grayish-Blue);
  font-size: 12px;
}

footer ul li a:hover {
  color: var(--Lime-Green);
}

.foot-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
  margin-bottom: 50px;
}

.socials {
  text-align: center;
  display: flex;
  margin: auto;
}

.socials .fa-brands {
  margin: 5px;
  color: #fff;
  font-size: 24px;
}

.socials .fa-youtube {
  font-size: 13px;
  color: var(--Dark-Blue);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  background: var(--White);
}

.socials .fa-brands:hover {
  color: var(--Lime-Green);
}

.socials .fa-youtube:hover {
  background-color: var(--Lime-Green);
  color: var(--White);
}

.menuIcon {
  display: flex;
  align-items: center;
}

#menu-icon {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/* media query */

@media (max-width: 376px) {
  #menu-icon {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding: 30px 20px;
    position: relative;
  }
  nav ul {
    display: none;
    position: absolute;
    width: 90%;
    min-height: 200px;
    background-color: var(--White);
    top: 100px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 10px;
  }

  nav ul li a {
    font-weight: 600;
  }

  nav .invite-btn {
    display: none;
  }

  .hero {
    background-image: url("./images/bg-intro-mobile.svg");
    background-size: 380px 380px;
    background-position: -5px -30px;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    padding: 0 4% 80px;
    margin-top: 0;
    /* min-height: 100vh; */
  }
  .col2 {
    order: -1;
    /* overflow: hidden; */
  }

  .mockups-img {
    position: absolute;
    top: -120px;
    right: 0px;
    z-index: 1;
    width: 100%;
  }

  .displayText {
    max-width: 350px;
    text-align: center;
    margin-top: 300px;
    /* font-size: 24px; */
  }
  .display-info {
    max-width: 300px;
    text-align: center;
    font-size: 13px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row-services {
    grid-template-columns: unset;
    place-content: center;
  }

  .service1 img {
    margin: 0 auto 20px;
    width: 70px;
  }

  .service1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }

  .service-text {
    text-align: center;
    max-width: 270px;
  }

  .service-msg {
    font-size: 12px;
    max-width: 270px;
  }

  .article {
    grid-template-columns: 1fr;
  }

  .headline-msg {
    max-width: 390px;
    font-size: 16px;
  }

  .text-msg {
    max-width: 400px;
    font-size: 13px;
  }
  footer {
    grid-template-columns: 1fr;
  }

  .left-footer {
    flex-direction: column;
    text-align: center;
  }

  .right-footer {
    text-align: center;
    margin-top: 25px;
  }

  .footer-logo {
    margin: 25px auto;
    width: 100px;
  }
  .socials {
    margin-bottom: 25px;
  }
}
